body {
    background-image: url(../images/dose-juice-sTPy-oeA3h0-unsplash.jpg);
    background-size: cover;
}

header {
    background-color: rgba(255, 255, 255, 0.694);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: inherit;
}

#heads {
    text-align: center;
    font-family: "Gotu", sans-serif;
    font-size: 75px;
    color: rgba(72, 140, 4, 0.577);
}

.facts-container {
    border: 5px solid rgba(74, 143, 4, 0.577);
    background-color: rgba(255, 255, 255, 0.755);
    border-radius: 5px;
    height: inherit;
    margin-top: 10px;
}

.facts-info {
    padding: 10px;
}

.recipe-container {
    border: 5px solid rgba(74, 143, 4, 0.577);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.755);
    height: inherit;
    margin-top: 10px;
    margin-bottom: 20px;
}

.recipe-info {
    padding: 10px;
}

#food-form {
    margin-top: 50px;
}

#food-search {
    border-radius: 5px;
}

#food-input {
    border-radius: 5px;
}

img {
    height: 150px;
    width: 150px;
    border: 5px solid rgba(74, 143, 4, 0.577);
    border-radius: 5px;
}

p {
    background-color: rgba(74, 143, 4, 0.577);
    margin: 0px;
}

.ingArr {
    margin: 2px;

    box-shadow: 1px 1px #9f9c92e0, 2px 2px #9f9c92e0, 3px 3px #9f9c92e0;
    transform: translateX(-3px);


}


.starWars {

    color: rgb(231, 228, 19);
    font-size: 50px;
    text-align: center;
    -webkit-text-stroke: 2px black;



}

footer {
    border-top: 5px solid rgba(74, 143, 4, 1);
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

.foot {
    text-align: center;
}